.App {
    width: 600px;
    margin: 0 auto;
}

.App-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

button.btn-lg {
    font-size: 120%;
    margin: 10px 5px;
}
